:root {
  --font-family: 'Helvetica', system-ui, -apple-system, 'Segoe UI', Roboto,
  'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  
  --verse-left-padding: 24px;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.64px;
  margin: 0;
  color: #555;
}

main {
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  overflow: auto;
}

p {
  font-weight: 300;
}

strong {
  font-weight: 700;
}


/* The title */
h1 {
  font-size: 24px;
  margin-bottom: 38px;
}

/* HR between the main part and the footnotes area */
hr {
  margin: 64px 0;
  font-weight: 300;
}

/* Timestamp */
em[data-type="time"] {
  font-weight: 200;
  color: gray;
  font-size: 14px;
}

/**/
.Meta {
  font-size: 12px;
  margin-bottom: 80px;
  
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

/**
 */
.Article {
  /* Verse block */
  pre {
    width: fit-content;
    margin: 16px 0 0;
    padding: 4px 4px 4px var(--verse-left-padding);
    word-break: break-all;
    word-wrap: break-word;
  }
  
  /* Verse block text */
  pre code {
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 1.5;
  }
  
  &__link {
    &:not(:hover),
    &:visited {
      color: dodgerblue;
    }
    &:hover {
      color: deepskyblue;
    }
  }
  
  &__foot-link {
    
    &:first-child {
      display: block;
      padding-left: var(--verse-left-padding);
      margin: -12px 0 24px;
    }
  }
  
  &__footnotes {
    margin-top: 80px;
    border-top: solid 1px gray;
  }
  
  &__footnote {
    margin: 30px 0;
  }
}
